.UserNavPlusContent {
    display: flex;
    margin: 1%;
  }
  
  .user-nav-main-container {
    width: 17%;
  }
  
  .user-Router-main-container {
    width: 79%;
  }
  
  .RouterHeader {
    margin: 1%;
  }
  