.Admin-navbarprofile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    color: whitesmoke;
}

.navbar-sections {
    background-color: black;
    border-radius: 0.7rem;
    width: 18%;
    margin: 1%;
    position: fixed;
    height: 85%;
    overflow: auto;
}


.navigation-buttons{
    display: flex;
    flex-direction: column;
    margin-left:5%;
    align-items: baseline;
    
}

.active-component {
    width:80%;
    position: absolute;
    left:18%;
}
.navButton {
    padding: 3%; 
    border-radius: 5px; 
    color: white;
    text-decoration: none;
    font-size: 120%;
  }
    .nav-btn {
    padding: 3%;
    margin: 2%;
    border-radius: 10px;
    width: 90%;
    cursor: pointer;
  }
  
  .nav-btn:hover {
    background-color: rgb(45, 48, 49);
  }
  
  .nav-btn:active {
    background-color: rgb(54, 149, 181);
  }
  
  .nav-btn.active {
    background-color: blue;
  }
  .close-button {
   margin-left:90% ;
  }
