.modal-footer{
    justify-content: center !important;
    margin-top: 5px;
}
.ReactModal__Overlay{
    background-color:white !important;
    border-radius: 15px;
    height: 40%;
    width: 60%;
    margin:auto;
    margin-top:0;
}
.ReactModal__Content{
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 20px;
    border-radius:15px;
}
.error-messageF{
    color: red;
    width: 100%;
    font-size: smaller;
}