.valtechlogo {
    animation: rotateAnimation 1s 1; 
  }
  
 

  .valtechlogo:hover {
    animation: rotateAnimation 1s linear infinite; 
  }
  
  @keyframes rotateAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
  
  